In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=ILD06054\SQLEXPRESS;'
                      'Database=project;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM project.dbo.flat_file_final')
sql= ('SELECT * FROM project.dbo.flat_file_final')
data = cursor.fetchall()
df = pd.read_sql(sql,conn)

#for row in cursor:
    #print(row)

In [3]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

,product_id,product_name,user_id,department_id,department,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reordered
0,5876,Organic Lemon,28568,4,produce,55441,5,0,11,28.0,0
1,13176,Bag of Organic Bananas,28568,4,produce,55441,5,0,11,28.0,1
2,27966,Organic Raspberries,28568,4,produce,55441,5,0,11,28.0,1
3,39275,Organic Blueberries,28568,4,produce,55441,5,0,11,28.0,0
4,22935,Organic Yellow Onion,28568,4,produce,55441,5,0,11,28.0,1

In [4]:
df.dtypes

product_id                  int64
product_name               object
user_id                     int64
department_id               int64
department                 object
order_id                    int64
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
reordered                   int64
dtype: object

In [5]:
df.shape

(4266433, 11)

In [6]:
df.describe()

,product_id,user_id,department_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reordered
count,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.025124e+06,4.266433e+06
mean,2.833460e+04,1.029210e+05,4.679622e+00,1.710412e+06,1.840892e+01,2.665776e+00,1.341232e+01,1.094071e+01,7.508846e-01
std,1.317267e+04,5.951753e+04,2.681806e+00,9.873701e+05,1.828686e+01,2.112515e+00,4.260521e+00,8.692847e+00,4.325008e-01
min,4.605000e+03,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.113700e+04,5.115300e+04,4.000000e+00,8.550860e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.000000e+00
50%,2.485200e+04,1.026110e+05,4.000000e+00,1.710271e+06,1.200000e+01,2.000000e+00,1.300000e+01,7.000000e+00,1.000000e+00
75%,4.226500e+04,1.544660e+05,4.000000e+00,2.565274e+06,2.600000e+01,5.000000e+00,1.600000e+01,1.400000e+01,1.000000e+00
max,4.968300e+04,2.062090e+05,1.600000e+01,3.421083e+06,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,1.000000e+00

# Data enrichment and transformation

# Adding new column - populatity of the products, by PRODUCT_ID

In [7]:
product_popularity = df.groupby('product_id')['product_id'].count().to_frame()
product_popularity

            product_id
product_id
4605             76929
4920             86748
5876             91251
8277             87272
13176           394930
16797           149445
19057            78056
21137           275577
21616            75752
21903           251705
22935           117716
24852           491291
24964           113936
26209           146660
27845           142813
27966           142603
28204            92889
30391            85005
37646            75655
39275           105026
40706            88078
42265            80493
44632            79245
45007           109412
45066            83320
47209           220877
47626           160791
47766           184224
49235            79006
49683            99728

In [8]:
type(product_popularity)

pandas.core.frame.DataFrame

In [9]:
product_popularity.columns

Index(['product_id'], dtype='object')

In [10]:
product_popularity2 = product_popularity.copy()

In [11]:
product_popularity2 =  product_popularity2['product_id']

In [12]:
product_popularity2 = product_popularity2/product_popularity2.sum()

In [13]:
product_popularity2

product_id
4605     0.018031
4920     0.020333
5876     0.021388
8277     0.020455
13176    0.092567
16797    0.035028
19057    0.018295
21137    0.064592
21616    0.017755
21903    0.058997
22935    0.027591
24852    0.115153
24964    0.026705
26209    0.034375
27845    0.033474
27966    0.033424
28204    0.021772
30391    0.019924
37646    0.017733
39275    0.024617
40706    0.020644
42265    0.018867
44632    0.018574
45007    0.025645
45066    0.019529
47209    0.051771
47626    0.037687
47766    0.043180
49235    0.018518
49683    0.023375
Name: product_id, dtype: float64

In [14]:
type(product_popularity2)

pandas.core.series.Series

In [16]:
product_popularity2.to_frame(name='product_popularity_cnt')

            product_popularity_cnt
product_id
4605                      0.018031
4920                      0.020333
5876                      0.021388
8277                      0.020455
13176                     0.092567
16797                     0.035028
19057                     0.018295
21137                     0.064592
21616                     0.017755
21903                     0.058997
22935                     0.027591
24852                     0.115153
24964                     0.026705
26209                     0.034375
27845                     0.033474
27966                     0.033424
28204                     0.021772
30391                     0.019924
37646                     0.017733
39275                     0.024617
40706                     0.020644
42265                     0.018867
44632                     0.018574
45007                     0.025645
45066                     0.019529
47209                     0.051771
47626                     0.037687
47766                     0.043180
49235                     0.018518
49683                     0.023375

In [17]:
df2=df

In [18]:
df2 = product_popularity2.to_frame(name='product_popularity_cnt')

In [19]:
df2.columns

Index(['product_popularity_cnt'], dtype='object')

In [20]:
df2['product_id'] = df2.index

In [21]:
df.index.names=['index']

In [22]:
df2.index.names=['index']

In [23]:
df3 = pd.merge(df,df2, left_on='product_id',right_on='product_id')

In [24]:
df3.shape

(4266433, 12)

In [25]:
df3.head()

,product_id,product_name,user_id,department_id,department,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reordered,product_popularity_cnt
0,5876,Organic Lemon,28568,4,produce,55441,5,0,11,28.0,0,0.021388
1,5876,Organic Lemon,28595,4,produce,172923,7,6,20,30.0,1,0.021388
2,5876,Organic Lemon,28631,4,produce,225732,7,6,12,30.0,1,0.021388
3,5876,Organic Lemon,28680,4,produce,3052709,23,4,14,16.0,1,0.021388
4,5876,Organic Lemon,28745,4,produce,1130353,93,5,12,4.0,1,0.021388

# Adding new column - populatity of the departments, by department_ID

In [26]:
department_popularity = df.groupby('department_id')['department_id'].count().to_frame()
department_popularity

               department_id
department_id
4                    3965369
7                      79245
16                    221819

In [27]:
type(department_popularity)

pandas.core.frame.DataFrame

In [28]:
department_popularity.columns

Index(['department_id'], dtype='object')

In [29]:
department_popularity2 = department_popularity.copy()

In [30]:
department_popularity2 =  department_popularity2['department_id']

In [31]:
department_popularity2 = department_popularity2/department_popularity2.sum()

In [32]:
type(department_popularity2)

pandas.core.series.Series

In [33]:
department_popularity2.to_frame(name='department_popularity_cnt')

               department_popularity_cnt
department_id
4                               0.929434
7                               0.018574
16                              0.051992

In [34]:
df4=df3

In [35]:
df4 = department_popularity2.to_frame(name='department_popularity_cnt')

In [36]:
df4['department_id'] = df4.index

In [37]:
df4.index.names=['index']

In [38]:
df3.index.names=['index']

In [39]:
df5 = pd.merge(df3,df4, left_on='department_id',right_on='department_id')

In [40]:
df5.head()

,product_id,product_name,user_id,department_id,department,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reordered,product_popularity_cnt,department_popularity_cnt
0,5876,Organic Lemon,28568,4,produce,55441,5,0,11,28.0,0,0.021388,0.929434
1,5876,Organic Lemon,28595,4,produce,172923,7,6,20,30.0,1,0.021388,0.929434
2,5876,Organic Lemon,28631,4,produce,225732,7,6,12,30.0,1,0.021388,0.929434
3,5876,Organic Lemon,28680,4,produce,3052709,23,4,14,16.0,1,0.021388,0.929434
4,5876,Organic Lemon,28745,4,produce,1130353,93,5,12,4.0,1,0.021388,0.929434

In [41]:
df5.shape

(4266433, 13)

# Adding new column - does the products are organic : yes = 1, no = 0

In [43]:
set(df5.product_name.tolist()) # a distinct list of the product names

{'Apple Honeycrisp Organic',
 'Bag of Organic Bananas',
 'Banana',
 'Cucumber Kirby',
 'Honeycrisp Apple',
 'Large Lemon',
 'Limes',
 'Organic Avocado',
 'Organic Baby Arugula',
 'Organic Baby Carrots',
 'Organic Baby Spinach',
 'Organic Blueberries',
 'Organic Cucumber',
 'Organic Fuji Apple',
 'Organic Gala Apples',
 'Organic Garlic',
 'Organic Grape Tomatoes',
 'Organic Half & Half',
 'Organic Hass Avocado',
 'Organic Large Extra Fancy Fuji Apple',
 'Organic Lemon',
 'Organic Raspberries',
 'Organic Strawberries',
 'Organic Whole Milk',
 'Organic Yellow Onion',
 'Organic Zucchini',
 'Seedless Red Grapes',
 'Sparkling Water Grapefruit',
 'Strawberries',
 'Yellow Onions'}

In [44]:
Organic_Filter = df5.product_name.str.contains("Organic",na = False)
df5['IsOrganic'] = Organic_Filter.astype(int)
df5.head()

,product_id,product_name,user_id,department_id,department,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic
0,5876,Organic Lemon,28568,4,produce,55441,5,0,11,28.0,0,0.021388,0.929434,1
1,5876,Organic Lemon,28595,4,produce,172923,7,6,20,30.0,1,0.021388,0.929434,1
2,5876,Organic Lemon,28631,4,produce,225732,7,6,12,30.0,1,0.021388,0.929434,1
3,5876,Organic Lemon,28680,4,produce,3052709,23,4,14,16.0,1,0.021388,0.929434,1
4,5876,Organic Lemon,28745,4,produce,1130353,93,5,12,4.0,1,0.021388,0.929434,1

In [47]:
df5.shape

(4266433, 14)

In [65]:
df5.to_csv("flat_file_final_12022018.csv")

# Exploratory Data Analysis (EDA)

Showing graphs which will help us unsderstand the type of distributions of numeric data and for categorical data.

In [45]:
df5.dtypes

product_id                     int64
product_name                  object
user_id                        int64
department_id                  int64
department                    object
order_id                       int64
order_number                   int64
order_dow                      int64
order_hour_of_day              int64
days_since_prior_order       float64
reordered                      int64
product_popularity_cnt       float64
department_popularity_cnt    float64
IsOrganic                      int32
dtype: object

In [47]:
type(df5)

pandas.core.frame.DataFrame

In [48]:
df5.describe()

,product_id,user_id,department_id,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,reordered,product_popularity_cnt,department_popularity_cnt,IsOrganic
count,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.025124e+06,4.266433e+06,4.266433e+06,4.266433e+06,4.266433e+06
mean,2.833460e+04,1.029210e+05,4.679622e+00,1.710412e+06,1.840892e+01,2.665776e+00,1.341232e+01,1.094071e+01,7.508846e-01,4.867858e-02,8.668962e-01,6.779143e-01
std,1.317267e+04,5.951753e+04,2.681806e+00,9.873701e+05,1.828686e+01,2.112515e+00,4.260521e+00,8.692847e+00,4.325008e-01,3.232704e-02,2.269977e-01,4.672757e-01
min,4.605000e+03,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.773261e-02,1.857406e-02,0.000000e+00
25%,2.113700e+04,5.115300e+04,4.000000e+00,8.550860e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.000000e+00,2.138812e-02,9.294343e-01,0.000000e+00
50%,2.485200e+04,1.026110e+05,4.000000e+00,1.710271e+06,1.200000e+01,2.000000e+00,1.300000e+01,7.000000e+00,1.000000e+00,3.437532e-02,9.294343e-01,1.000000e+00
75%,4.226500e+04,1.544660e+05,4.000000e+00,2.565274e+06,2.600000e+01,5.000000e+00,1.600000e+01,1.400000e+01,1.000000e+00,6.459190e-02,9.294343e-01,1.000000e+00
max,4.968300e+04,2.062090e+05,1.600000e+01,3.421083e+06,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01,1.000000e+00,1.151526e-01,9.294343e-01,1.000000e+00

# The next notebook : Explatory_data_project_adding more columns -17.02.19